<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <%= typeof title !== 'undefined' ? title : 'Estúdio de Filmes' %>
    </title>
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Swiper CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>

    <script defer src="/js/script.js"></script>
  </head>
  <body>
    <nav>
      <ul class="menu">
        <li>
          <a href="/filmes">Filmes</a>
          <ul class="submenu">
            <li><a href="/filmes/novo">Novo Filme</a></li>
          </ul>
        </li>
        <li>
          <a href="/pessoas/atores">Atores</a>
          <ul class="submenu">
            <li><a href="/pessoas/novo?tipo=Ator">Novo Ator</a></li>
          </ul>
        </li>
        <li>
          <a href="/pessoas/diretores">Diretores</a>
          <ul class="submenu">
            <li><a href="/pessoas/novo?tipo=Diretor">Novo Diretor</a></li>
          </ul>
        </li>
        <li>
          <a href="/pessoas/produtores">Produtores</a>
          <ul class="submenu">
            <li><a href="/pessoas/novo?tipo=Produtor">Novo Produtor</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </body>
</html>
