<header>
  <nav>
    <ul class="menu">
      <li><a href="/filmes">Filmes</a></li>
      <li class="dropdown">
        <a href="/pessoas?tipo=ator">Atores</a>
        <ul class="submenu">
          <li><a href="/pessoas/novo?tipo=Ator">Novo Ator</a></li>
          <li><a href="/pessoas?tipo=ator">Todos Atores</a></li>
          <li><a href="/pessoas?tipo=ator&categoria=Novo">Novos Atores</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="/pessoas?tipo=diretor">Diretores</a>
        <ul class="submenu">
          <li><a href="/pessoas/novo?tipo=Diretor">Novo Diretor</a></li>
          <li><a href="/pessoas?tipo=diretor">Todos Diretores</a></li>
          <li><a href="/pessoas?tipo=diretor&categoria=Novo">Novos Diretores</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="/pessoas?tipo=produtor">Produtores</a>
        <ul class="submenu">
          <li><a href="/pessoas/novo?tipo=Produtor">Novo Produtor</a></li>
          <li><a href="/pessoas?tipo=produtor">Todos Produtores</a></li>
          <li><a href="/pessoas?tipo=produtor&categoria=Novo">Novos Produtores</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>