<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <%= typeof title !== 'undefined' ? title : 'Estúdio de Filmes' %>
    </title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/script.js" defer></script>
  </head>
  <body>
    <nav>
      <ul class="menu">
        <li><a href="/filmes">Filmes</a></li>
        <li>
          <a href="/pessoas/atores">Atores</a>
          <ul class="submenu">
            <li><a href="/pessoas/novo?tipo=Ator">Novo Ator</a></li>
            <li><a href="/pessoas/atores">Todos Atores</a></li>
          </ul>
        </li>
        <li>
          <a href="/pessoas/diretores">Diretores</a>
          <ul class="submenu">
            <li><a href="/pessoas/novo?tipo=Diretor">Novo Diretor</a></li>
            <li><a href="/pessoas/diretores">Todos Diretores</a></li>
          </ul>
        </li>
        <li>
          <a href="/pessoas/produtores">Produtores</a>
          <ul class="submenu">
            <li><a href="/pessoas/novo?tipo=Produtor">Novo Produtor</a></li>
            <li><a href="/pessoas/produtores">Todos Produtores</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </body>
</html>
