<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estúdio de Filmes</title>
    <link rel="stylesheet" href="/css/style.css" />
    <style>
  
    </style>
  </head>
  <body>
    <div class="overlay"></div>
    <%- include('partials/header') %>
    <main class="hero">
      <h1>Bem-vindo ao Estúdio de Produção de Filmes</h1>
      <h2>
        Explore o mundo do cinema com produções inesquecíveis e histórias
        emocionantes.
      </h2>
      <a href="/filmes" class="cta-button">Conheça Nossos Filmes</a>
    </main>
    <%- include('partials/toggle') %>
  </body>
</html>
