<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/script.js"></script>
</head>
<body>
    <%- include('partials/header') %>
    <div class="login-container">
        <div class="card-container">
            <!-- Card de Login -->
            <div class="card" id="card-login">
                <h2>Login</h2>
                <form action="/login" method="POST">
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="password" name="password" placeholder="Senha" required>
                    <button type="submit">Entrar</button>
                </form>
                <p class="link" onclick="showCard('card-register')">Registrar-se</p>
                <p class="link" onclick="showCard('card-forgot')">Esqueci minha senha</p>
            </div>

            <!-- Card de Registro -->
            <div class="card hidden" id="card-register">
                <h2>Registrar-se</h2>
                <form action="/register" method="POST">
                    <input type="text" name="name" placeholder="Nome Completo" required>
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="password" name="password" placeholder="Senha" required>
                    <input type="password" name="confirm_password" placeholder="Confirme sua Senha" required>
                    <button type="submit">Criar Conta</button>
                </form>
                <p class="link" onclick="showCard('card-login')">Já tenho uma conta</p>
            </div>
            <% if (mensagem) { %>
              <div class="alert alert-success"><%= mensagem %></div>
            <% } %>
            <% if (erro) { %>
              <div class="alert alert-danger"><%= erro %></div>
            <% } %>
            
            <!-- Card de Esqueci Minha Senha -->
            <div class="card hidden" id="card-forgot">
                <h2>Recuperar Senha</h2>
                <form action="/forgot-password" method="POST">
                    <input type="email" name="email" placeholder="Digite seu email" required>
                    <button type="submit">Enviar Link de Recuperação</button>
                </form>
                <p class="link" onclick="showCard('card-login')">Voltar ao Login</p>
            </div>
        </div>
    </div>
      <%- include('partials/toggle') %>
</body>
</html>
