<div id="switch">
  <div id="contentwrapper">
    <div id="claquete"></div>
    <div id="film-elements">
      <div class="film-strip"></div>
      <div class="popcorn"></div>
      <div class="popcorn"></div>
      <div class="popcorn"></div>
    </div>
    <div id="theater-curtain"></div>
  </div>
</div>
